<div style="height:100%;width:100%;display:inline-block">

    <div class="splitdiv" id="leftdiv">
        <div id="leftdivcard">
            <h1 style="padding-top:20px;text-align:center">Sign In</h1>
            <div class="errorDiv">
                <p ngClass="p-message-error" *ngIf="wrongCredentialsMsg">{{ wrongCredentialsMsg }}</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
                <input type="email" placeholder="Email" formControlName="email" />
                <input type="password" placeholder="Password" formControlName="password" />
                <div style="text-align:center">
                    <button id="leftbutton" class="ripple2" type="submit">Login</button>
                </div>
            </form>            
        </div>
    </div>

    <div class="splitdiv" id="rightdiv">
        <div id="rightdivcard">
            <img src="../../../assets/images/sunrise-logo-transparent.png" alt="">
        </div>
    </div>

</div>