@import url('https://fonts.googleapis.com/css?family=Acme|Lobster');


.splitdiv{
  height:100%;
  width:50%;
}

/* This part contains all of the left side of the screen */
/* ----------------------------------------- */
#leftdiv{
  float:left;
  background-color:#FFC07F;
}

#leftdivcard{
  margin:0 auto;
  width:50%;
  background-color:#FFC07F;
  margin-top: 50vh; 
  transform: translateY(-50%);
  padding: 20px;
  /* box-shadow: 10px 10px 1px 0px #ffb866; */
  border-radius:10px
}

#leftbutton{
    background-color:#A5402D;
    border-radius:5px;
    color: #FAFAFA;
}

/* ----------------------------------------- */

/* This part contains all of the left side of the screen */
/* ----------------------------------------- */
#rightdiv{
  float:right;
  background-color:#FAFAFA;
  position: relative;
}

#rightdiv img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 350px;
}

/* ----------------------------------------- */

/* Basic styling */
/* ----------------------------------------- */

h1{
  font-family:Montserrat;
  color:#A5402D
}

input{
  font-family:Montserrat;
  font-size:16px;
}

input{
  width:85%;
  height:40px;
  padding:10px;
  margin-left:2%;
  margin-right:2%;
  margin-top:10px;
  margin-bottom:10px;
  display:inline-block;
  background-color:#FAFAFA;
  color: #A5402D;
  font-weight: 500;
  border:none;
  border-radius: 8px;
}

input:focus {
    outline: none !important;
    border:1px solid #A5402D;
    box-shadow: 0 0 5px #A5402D;
}

button{
  outline: none !important;
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom:15px;
  border:none;
  font-size:20px;
  margin-top: 20px;
  padding:8px;
  padding-left:20px;
  padding-right:20px;
  color: #A5402D;
}

/* ----------------------------------------- */

/* Animation for the buttons from 

https://codepen.io/finnhvman/pen/jLXKJw

*/

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #aa5e06 radial-gradient(circle, transparent 1%, #A5402D 1%) center/15000%;
}
.ripple:active {
  background-color: #A5402D;
  background-size: 100%;
  transition: background 0s;
}

.ripple2 {
  background-position: center;
  transition: background 0.8s;
}
.ripple2:hover {
  background: #ffb866 radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
}
.ripple2:active {
  background-color: #FAFAFA;
  background-size: 100%;
  transition: background 0s;
}


/*////////////////////////////////////////////////////////*/

.errorDiv{
  height: 30px; 
  width: 100%;
  text-align: center;
}

.errorDiv p{
  color: rgb(255, 70, 70);
}
