<div style="height:100%;width:100%;display:inline-block">

    <div class="splitdiv" id="leftdiv">
        <div id="leftdivcard">
            <h1 style="padding-top:20px;text-align:center">Sign In</h1>
            <p class="p-message-error" *ngIf="!errorMsg.isEmpty"></p>
            <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
                <input type="email" placeholder="Email" formControlName="email" />
                <input type="password" placeholder="Password" formControlName="password" />
                <div style="text-align:center">
                    <button id="leftbutton" class="ripple2" type="submit">Login</button>
                </div>
            </form>            
        </div>
    </div>

    <div class="splitdiv" id="rightdiv">
        <div id="rightdivcard">
            <h1 style="padding-top:20px;text-align:center;color:white">New here ?</h1>
            <p style="color:white;text-align:center">Do you want to discover new things ? Just Register !</p>
            <div style="text-align:center">
                <button id="rightbutton" class="ripple">Sign Up</button>
            </div>
        </div>
    </div>

</div>